* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.email span {
  content: url(img/email-icon.svg);
  height: 25px;
  width: 25px;
}
.email p {
  display: none;
}

.phone {
  margin: 0 20px;
}
.phone span {
  content: url(img/phone-icon.svg);
  height: 25px;
  width: 25px;
}
.phone p {
  display: none;
}

.geo span {
  content: url(img/geo-icon.svg);
  height: 25px;
  width: 25px;
}
.geo p {
  display: none;
}

.btn {
  height: 34px;
  width: 40px;
  background-color: #00730c;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.btn .call-icon {
  content: url(img/call-icon.svg);
  width: 20px;
  height: 18px;
}
.btn p {
  display: none;
}

.call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-change {
  color: white;
  display: flex;
}
.lang-change span {
  margin-left: 5px;
  content: url(img/down-arrow.svg);
}

.contacts {
  background-color: rgb(12, 75, 53);
}
.contacts .cont-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 335px;
  margin: auto;
}
.contacts .cont-wrap .icon-wrap {
  display: flex;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  height: 70px;
  margin: auto;
}
.main-header .menu-btn {
  display: flex;
  align-items: center;
}

.menu-wrap {
  display: none;
}

.menu-item span {
  content: url(img/down-arrow.svg);
}

.mobile-menu {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  justify-content: space-evenly;
}
.mobile-menu div {
  height: 2px;
  width: 30px;
  border-radius: 5px;
  background-color: #00730c;
}
.mobile-menu div:last-child {
  width: 18px;
  transition: all 0.5s;
}
.mobile-menu:hover div:last-child {
  width: 30px;
}

.hero-content-wraper {
  position: relative;
  background: #00730c;
  background: linear-gradient(36deg, rgba(0, 115, 12, 0.8) 0%, rgba(251, 246, 238, 0) 95%);
}

.hero-img-wraper {
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 35px;
}

.sub-heading {
  display: flex;
  margin-bottom: 10px;
}
.sub-heading span {
  margin-right: 5px;
  content: url(img/Vector.svg);
}

.heading {
  margin-bottom: 15px;
}
.heading span {
  color: #00730c;
}

.heading-wrap {
  margin-bottom: 40px;
}

.heading-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.heading-btn {
  width: 303px;
  height: 44px;
}

.see-work {
  margin-top: 19px;
  color: #00730c;
  text-decoration: none;
}
.see-work span {
  content: url(img/Arrow-Icon2.svg);
  margin-left: 12px;
}

.customrs-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.customrs {
  display: flex;
}
.customrs div:last-child {
  margin-left: 11px;
}
.customrs div {
  height: 32px;
  width: 133px;
  border-radius: 32px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  background: rgb(255, 248, 241);
  background: linear-gradient(0deg, rgb(255, 248, 241) 0%, rgb(203, 229, 206) 100%);
}
.customrs div span {
  font-size: 12px;
  font-weight: 700;
}

.bg-img {
  content: url(img/BG-Img.png);
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */